.fourstepprocess {
  padding-top: 72px;
  padding-bottom: 80px;
  padding-left: 123px;
  padding-right: 123px;
  background-image: url("/assets/vintage-paper-16.jpg");
  background-color: #252424;
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: multiply, normal;

  @media (max-width: 768px) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.fourstepprocess-inner {
  background-image: url("../assets/fourstep_bg.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-size: 35%;
}

.fourstepprocess-inner .heading {
  font-weight: 400;
  font-size: 54px;
  text-align: center;
  color: white;
}
.stepcontainer {
  padding: 8px;
  box-shadow: 10px 10px 0 #fde4c8;
}
.stepcontainer-inner {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 5px;
  padding-right: 5px;
}

.gurantee {
  box-shadow: -3px 3px 0 #111111;
}

.with-text-fourstepprocess {
  color: #fde4c8;
  text-align: right;
  leading-trim: both;
  text-edge: cap;
  font-family: luminaire-script;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  text-shadow:
    -2.22px -2.22px 0 #201e1e,
    2.22px -2.22px 0 #201e1e,
    -2.22px 2.22px 0 #201e1e,
    2.22px 2.22px 0 #201e1e;

  @media (max-width: 768px) {
    font-size: 24px;
  }
}
