.header-logo {
  height: auto;
  width: 100px;
}

.godlyheader {
  background-color: #252323;
  padding: 10px 20px;
  max-height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.iconbox {
  /* height: 50px;
  width: 50px; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.getaquote {
  width: 100px;
  height: auto;
}

.getaquote {
  width: 120px;
  height: auto;
  transform: translateY(50px);
}
