@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@font-face {
  font-family: "Marlton";
  src: url("../assets/fonts/MarltonSans.otf") format("opentype");

  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Stencil";
  src: url("../assets/fonts/MarltonStencil.otf") format("opentype");

  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "luminaire-script";
  src: url("../assets/fonts/luminaire-script-regular.ttf") format("truetype");

  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "satoshi-regular";
  src: url("../assets/fonts/Satoshi-Regular.otf") format("truetype");
}

@font-face {
  font-family: "satoshi-bold";
  src: url("../assets/fonts/Satoshi-Bold.otf") format("truetype");
}

@font-face {
  font-family: "satoshi-black";
  src: url("../assets/fonts/Satoshi-Black.otf") format("truetype");
}

@font-face {
  font-family: "satoshi-light";
  src: url("../assets/fonts/Satoshi-Light.otf") format("truetype");
}

@font-face {
  font-family: "satoshi-medium";
  src: url("../assets/fonts/Satoshi-Medium.otf") format("truetype");
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: "Marlton", sans-serif;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  /* padding: 0; */
  /* margin: 0; */
  text-box-trim: both;
}

p {
  text-box-trim: both;
  /* text-box-edge:; */
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

html {
  scroll-behavior: smooth;
}

.paper-bg-14 {
  background-image: url("/assets/vintage-paper-14.jpg");
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: screen, normal;
}

.paper-bg-8 {
  background-image: url("/assets/vintage-paper-8.jpg");
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: multiply, normal;
}

.paper-bg-16 {
  background-image: url("/assets/vintage-paper-16.jpg");
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: multiply, normal;
}

.card-number {
  color: rgba(49, 46, 44, 0.19);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgba(45, 43, 43, 0.2);
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.card-heading {
  color: #2d2b2b;
  /* font-family: Inter; */
  font-size: 22.89px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 27.468px */
}

.card-description {
  color: #2d2b2b;
  /* font-family: Inter; */
  font-size: 22.89px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 27.468px */
}

.text-trim {
  text-box-trim: trim-both;
}

.see-more-reviews {
  color: #fff;
  /* font-family: "Marlton Sans"; */
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}

.quote-button {
  position: relative;
  display: inline-flex;
  /* font-family: "satoshi-regular", sans-serif; */
  align-items: center;
  text-transform: uppercase !important;
  justify-content: center;
  line-height: 61px; /* same as button height */
  background-color: red;
  padding: 36px 22px;
  gap: 10px;
  border-radius: 9px;
  color: #fde4c8;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  text-transform: lowercase;
  cursor: pointer;
  overflow: hidden;
  background-color: transparent; /* base color handled in ::before */
  transition: all 0.3s ease-in-out;
  box-shadow:
    0px -7px 5.289px rgba(36, 34, 34, 0.33) inset,
    0px -9px 5.289px #992f12 inset,
    0px 17px 34px rgba(9, 9, 9, 0.24),
    0px 17px 34px 0px rgba(9, 9, 9, 0.24),
    0px 1px 1.4px 0px rgba(247, 235, 235, 0.69) inset;

  &:hover {
    opacity: 0.8;
  }

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 9px;
    border: 4px solid #933d29;
    outline-style: solid;
    outline-color: #933d29;
    outline-width: 4px;
    /* border-radius: 0px; */
    background:
      linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #a14632 100%),
      linear-gradient(180deg, #754034 0%, #943b2a 100%),
      url("/assets/vintage-paper-14.jpg") lightgray 50% / cover no-repeat;
    background-blend-mode: normal, hard-light, normal;
    box-shadow:
      0px -7px 5.289px rgba(36, 34, 34, 0.33) inset,
      0px -9px 5.289px #992f12 inset,
      0px 17px 34px rgba(9, 9, 9, 0.24);
    z-index: 0;
  }

  span {
    position: relative;
    z-index: 1;
    color: #fde4c8 !important;
  }
}

.font-sans {
  font-family: "satoshi-medium", sans-serif;
}

.text-grain {
  position: relative;
  z-index: 1;

  /* Create mask effect with the pseudo-element */
  &::before {
    content: attr(data-text);
    position: absolute;
    background-image: url("/assets/grain.png");
    background-position: center;
    background-size: cover;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    /* Add contrast to make grain more visible */
    filter: contrast(150%) brightness(0.8);
    /* Ensure the grain only applies to the text */
    mix-blend-mode: multiply;
    z-index: 2;
  }
}

.with-text {
  color: #fde4c8;
  text-align: right;
  leading-trim: both;
  text-edge: cap;
  font-family: luminaire-script;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  text-shadow:
    -2.22px -2.22px 0 #201e1e,
    2.22px -2.22px 0 #201e1e,
    -2.22px 2.22px 0 #201e1e,
    2.22px 2.22px 0 #201e1e;
}

.quality-text {
  position: relative;
  z-index: 1;

  &::before {
    content: attr(data-text);
    position: absolute;
    inset: 0;
    margin-top: -8px;
    text-shadow:
      -2.22px -2.22px 0 #e7e3e0,
      2.22px -2.22px 0 #e7e3e0,
      -2.22px 2.22px 0 #e7e3e0,
      2.22px 2.22px 0 #e7e3e0;
  }

  &::after {
    content: attr(data-text);
    position: absolute;
    inset: 0;
    margin-top: -8px;
    background-image: url("/assets/grain.png");
    background-position: center;
    background-size: cover;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    /* Add contrast to make grain more visible */
    filter: contrast(150%) brightness(0.8);
    /* Ensure the grain only applies to the text */
    mix-blend-mode: multiply;
    z-index: 2;
  }
}

.estimate-button {
  position: relative;
  display: inline-flex;
  /* font-family: "satoshi-regular", sans-serif; */
  align-items: center;
  text-transform: uppercase !important;
  justify-content: center;
  line-height: 61px; /* same as button height */
  background-color: red;
  padding: 36px 22px;
  gap: 10px;
  border-radius: 9px;
  color: #c3b099;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  text-transform: lowercase;
  cursor: pointer;
  overflow: hidden;
  background-color: transparent; /* base color handled in ::before */
  transition: all 0.3s ease-in-out;
  box-shadow:
    0px -7px 5.289px rgba(36, 34, 34, 0.33) inset,
    0px -9px 5.289px #992f12 inset,
    0px 17px 34px rgba(9, 9, 9, 0.24),
    0px 17px 34px 0px rgba(9, 9, 9, 0.24),
    0px 1px 1.4px 0px rgba(247, 235, 235, 0.69) inset;

  outline-style: solid;
  outline-color: #584938;
  outline-width: 4px;

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    padding: 4px;
    border-radius: 9px;
    box-shadow:
      0px 17px 34px 0px rgba(9, 9, 9, 0.24),
      0px 1px 1.4px 0px rgba(247, 235, 235, 0.69) inset,
      0px -7px 3px rgba(0, 0, 0, 0.3) inset;
    /* border-radius: 0px; */
    border-radius: 9px;
    border: 1px solid #232222;
    background:
      linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(97, 80, 62, 0.6) 100%),
      linear-gradient(180deg, #252525 100%, #262424 0%),
      url("/assets/vintage-paper-14.jpg") lightgray 50% / cover no-repeat;
    background-blend-mode: normal, hard-light, normal;
    box-shadow:
      0px -7px 5.289px 0px rgba(36, 34, 34, 0.33) inset,
      0px -9px 5.289px 0px #343232 inset,
      0px 17px 34px 0px rgba(9, 9, 9, 0.24);

    z-index: 0;
  }

  span {
    position: relative;
    z-index: 1;
    color: #c3b099 !important;
  }
}
